.content {
    margin-top: 50px;
    text-align: left;
    position: relative;
}

.nav.nav-tabs {
    margin-bottom: 0px;
}

.footer {
    background-color: #E3EFF1;
    color: #86989B;
    padding: 3px 8px 3px 0;
    clear: both;
    font-size: 0.8em;
    text-align: right;
}